.fees-icon {
    animation: BTC-logo-spin infinite 20s linear;
    position: absolute;
    right: 10px;
    top: 10px;
}

.fees-data {
    padding-right: 60px;
    font-size: 125%;
}

.fees-data i {
    margin-right: 5px;
    color: #ffab40;
    vertical-align: middle;
}

.fees-data p {
    margin-bottom: 15px !important;
}


.fees-title { 
color: #111;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 22px;
font-weight: 700; 
line-height: 64px; 
margin: 0 0 0; 
padding: 20px 30px; 
text-align: center; 
text-transform: uppercase; }




@keyframes BTC-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
